body {
    background-image: url(bg5.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 880px;
}
form {
    border: solid 1px;
    width: 450px;
    margin-left: 500px;
    padding-left: 10px;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: brown;
}
label{
    font-size: 23px;
    font-weight: bold;
    color: gray;
}
input{
    height: 30px;
    width: 300px;
    border-radius: 50px;
    border: none;
    border-bottom-style: solid;
    background: none;
}
button {
    background: none;
    border-bottom-style: solid;
    height: 50px;
    width: 150px;
    background-color: rgb(136, 198, 136);
    color: white;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 20px;
}